<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{admin.titulo}"></title>
</head>
<body>
<h1 th:text="#{admin.titulo}">PAGINA DO ADMINISTRADOR</h1>

<form th:action="@{/administrador/alterarMensagem}" method="post">

    <label th:text="#{admin.msgParaSecretario}">Mensagem exibida ao secretário:</label>
    <br><br>

    <textarea
            name="texto"
            rows="4"
            cols="60"
            th:text="${mensagem}">
    </textarea>

    <br><br>

    <button type="submit" th:text="#{admin.salvar}">
        Salvar
    </button>

</form>

<br>
<hr>
<a th:href="@{/login}">
    <button type="button" th:text="#{geral.voltarLogin}">Voltar para a tela de Login</button>
</a>

</body>
</html>