<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{visitante.titulo}">Página do Visitante</title>
</head>
<body>

<h1 th:text="#{visitante.titulo}">PÁGINA DO VISITANTE</h1>

<h2 th:text="#{visitante.ofertas}">Ofertas</h2>

<ul>
    <li th:each="oferta : ${ofertas}">
        <b th:text="${oferta.nome}"></b>
        -
        <span th:text="#{visitante.prof}">Professor :</span> <span th:text="${oferta.prof.nome}"></span>
        -
        <span th:text="#{visitante.semestre}">Semestre :</span> <span th:text="${oferta.semestre}"></span>
        -
        <span th:text="#{visitante.inicio}">Inicio do semestre :</span> <span th:text="${oferta.inicio}"></span>
        -
        <span th:text="#{visitante.fim}">Fim do semestre :</span> <span th:text="${oferta.fim}"></span>
        -
        <span th:text="#{visitante.matriculados}">Alunos Matriculados :</span> <span th:text="${oferta.matriculados}"></span>
    </li>
</ul>


<br>
<hr>
<a th:href="@{/login}">
    <button type="button" th:text="#{geral.voltarLogin}">Voltar para a tela de Login</button>
</a>


</body>
</html>