<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{aluno.titulo}"></title>
</head>
<body>
    <h1 th:text="#{aluno.h1}">Ofertas em que voce esta inscrito: </h1>

    <div th:if="${#lists.isEmpty(ofertas)}">
        <p th:text="#{aluno.naoMatriculado}"> Vá estudar!!! Voce nao esta matriculado em nenhuma oferta</p>
    </div>

    <ul th:unless="${#lists.isEmpty(ofertas)}">
        <li th:each="oferta : ${ofertas}">
            <b th:text="${oferta.nome}"></b>
            -
            <span th:text="#{aluno.prof}">Professor :</span> <span th:text="${oferta.prof.nome}"></span>
            -
            <span th:text="#{aluno.semestre}">Semestre :</span> <span th:text="${oferta.semestre}"></span>
            -
            <span th:text="#{aluno.inicio}">Inicio do semestre :</span> <span th:text="${oferta.inicio}"></span>
            -
            <span th:text="#{aluno.fim}">Fim do semestre :</span> <span th:text="${oferta.fim}"></span>

            Status: <span th:text="#{${oferta.status}}"></span>
        </li>
    </ul>

    <br>
    <hr>
    <a th:href="@{/login}">
        <button type="button" th:text="#{geral.voltarLogin}">Voltar para a tela de Login</button>
    </a>
</body>
</html>