<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{aluno.titulo}"></title>
</head>
<body>
<h1 th:text="#{aluno.h1}">Ofertas em que você está inscrito: </h1>

<div th:if="${#lists.isEmpty(inscricoes)}">
    <p th:text="#{aluno.naoMatriculado}"> Vá estudar!!! Você não está matriculado em nenhuma oferta</p>
</div>

<ul th:unless="${#lists.isEmpty(inscricoes)}">
    <li th:each="inscricao : ${inscricoes}">

        <b th:text="${inscricao.oferta.nome}"></b>
        -
        <span th:text="#{aluno.prof}">Professor :</span> <span th:text="${inscricao.oferta.prof.nome}"></span>
        -
        <span th:text="#{aluno.semestre}">Semestre :</span> <span th:text="${inscricao.oferta.semestre}"></span>
        -
        <span th:text="#{aluno.inicio}">Inicio do semestre :</span> <span th:text="${inscricao.oferta.inicio}"></span>
        -
        <span th:text="#{aluno.fim}">Fim do semestre :</span> <span th:text="${inscricao.oferta.fim}"></span>

        <br>
        <span th:text="#{aluno.status}">Status:</span>
        <span th:text="#{${'status.' + inscricao.statusPlano.name()}}"></span>

        <br>
        <span th:text="#{aluno.statusOferta}">Status da Oferta:</span>
        <span th:text="#{${inscricao.oferta.status}}"></span>

        <br><br>

        <a th:if="${inscricao.statusPlano.name() == 'PENDENTE'}" th:href="@{/aluno/enviarDocumentacao/{id}(id=${inscricao.id})}">
            <button type="button" th:text="#{aluno.btn.enviar_documentacao}">Enviar Documentação</button>
        </a>

        <br><br>

        <a th:if="${inscricao.oferta.status == 'Em andamento' && inscricao.statusPlano.name() == 'PENDENTE'}"
           th:href="@{/aluno/enviarPlano/{id}(id=${inscricao.id})}">
            <button type="button" th:text="#{aluno.btnEnviarPlano}">Enviar Plano de Trabalho</button>
        </a>

        <a th:if="${inscricao.statusPlano.name() == 'DOCUMENTACAO_ENVIADA'}"
           th:href="@{/aluno/enviarRelatorio/{id}(id=${inscricao.id})}"
           class="btn btn-primary"
           th:text="#{aluno.main.botaoRelatorio}">
            Enviar Relatório Final
        </a>

        <span th:if="${inscricao.statusPlano.name() == 'ENVIADO'}"
              th:text="#{aluno.planoEnviado}"
              style="color: green; display: block; margin-top: 10px;">
        </span>

        <br><br>
        <hr>
    </li>
</ul>

<br>
<a th:href="@{/login}">
    <button type="button" th:text="#{geral.voltarLogin}">Voltar para a tela de Login</button>
</a>

</body>
</html>